@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu:wght@800&family=Ubuntu:wght@300;500;700&display=swap');
*{
    box-sizing: border-box;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border: 1px solid red;
    flex-wrap: wrap;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin:10px;
    flex-wrap: wrap;
}
.navbar-left{
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Istok Web', sans-serif;
    animation-name: slideLeft;
    animation-duration: 2s;
}
@keyframes slideLeft{
    from{transform: translateX(200%)}
}
.navbar-right{
    justify-content: center;
    padding: 10px;
    margin: 20px;

    
}
.logo{
    height: 100px;
    padding: 10px;
}
.a{
    color: white;
    font-family: 'Istok Web', sans-serif;
    padding: 30px;
    font-style: italic;
    font-weight: bold;
    border: 2px;
    text-decoration: none;
    
}
.a:active{
   color: red;
}
.a:hover{
    background-color: hsl(138, 67%, 42%);
    font-size: 20px;
}
.head{
    margin: 10pxs;
}
.body-left{
    margin-left: 10px;
    height: 60vh;
    padding: 20px;
    color: white;
    text-transform: capitalize;

}
.body-right{
    height: 60vh;
    justify-content: left;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    

}
.body-text{
    font-family: 'Noto Sans Telugu', sans-serif;
    font-weight: bold;
    font-size: larger;
    height: 50vh;
    overflow:auto;
    

}
.body-img{
    margin-right: 200px;
    text-align: left;
    padding: 5px;
    height: 350px;
    overflow:visible;
}
.body-img{
    margin:0px ;
}
body{
    background-color: black;
    margin: 0px;
    background-size: cover;
    height: 100vh;
}
.contact-us{
    margin: 10px;
}
footer{
    color: red;
    background-color: black;
    display: flex;
    margin-left: 10px;
    justify-content: center;
}
@media screen and (max-width:600px){
    img{
    width: 100%;
    }
    
}
.contact-us{
    color: crimson;
}